<!DOCTYPE html>
<html>
<head>
    <title>Register Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container text-center">
        <h1>Create Your Learner Account</h1>
        <form action="{{ url_for('registerL.registerL') }}" method="post">
            {% if message is defined and message %}
                <div class="alert alert-warning">{{ message }}</div>
            {% endif %}
            <!-- User fields -->
            <div class="form-group">
                <label for="full_name">Full Name:</label>
                <input type="text" class="form-control" id="full_name" name="full_name" placeholder="Enter full name">
            </div>
            <div class="form-group">
                <label for="username">Username (Enter Unique Username):</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
            </div>
            <div class="form-group">
                <label for="nationality">Nationality:</label>
                <input type="text" class="form-control" id="nationality" name="nationality" placeholder="Enter nationality">
            </div>
            <div class="form-group">
                <label for="bdate">Birthdate:</label>
                <input type="date" class="form-control" id="bdate" name="bdate">
            </div>

            <!-- Learner fields -->
            <!-- Learning Style dropdown list -->
            <div class="form-group">
                <label for="learning_style">Learning Style:</label>
                <select class="form-control" id="learning_style" name="learning_style">
                    <option value="Visual Learning">Visual Learning</option>
                    <option value="Auditory Learning">Auditory Learning</option>
                    <option value="Kinesthetic Learning">Kinesthetic Learning</option>
                    <!-- Add more options as needed -->
                </select>
            </div>
            <div class="form-group">
                <label for="learning_objective">Learning Objective:</label>
                <textarea class="form-control" id="learning_objective" name="learning_objective" placeholder="Enter learning objective"></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Register</button>
        </form>
        <form action="{{ url_for('login.login') }}" method="get">
            <button class="btn btn-secondary mt-3">Go to Login Page</button>
        </form>
		<form action="{{ url_for('home.home') }}" method="get">
            <button class="btn btn-secondary mt-3">Go to Home Page</button>
        </form>
    </div>
</body>
</html>
